<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArchersGunSensor</key>
	<dict>
		<key>CateName</key>
		<string>CCircleSensor</string>
		<key>Radius</key>
		<integer>200</integer>
		<key>Name</key>
		<string>ArchersGunSensor</string>
	</dict>
	<key>1001</key>
	<dict>
		<key>CateName</key>
		<string>CMonster</string>
		<key>CollisionGroup</key>
		<string>2</string>
		<key>Sensor</key>
		<string>Sensor0</string>
		<key>Name</key>
		<string>Monster1001</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>FileName</key>
		<string>monster1001</string>
	</dict>
	<key>BallisticBullet</key>
	<dict>
		<key>CateName</key>
		<string>CBallisticAOEBullet</string>
		<key>Damage</key>
		<integer>10</integer>
		<key>InitState</key>
		<string>Ready</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>3</string>
		<key>Speed</key>
		<integer>100</integer>
		<key>DamageArea</key>
		<string>40</string>
		<key>Name</key>
		<string>BallisticBullet</string>
		<key>FileName</key>
		<string>bullet1</string>
		<key>BatchNodeName</key>
		<string>bn_bullet</string>
	</dict>
	<key>Sensor0</key>
	<dict>
		<key>CateName</key>
		<string>CCircleSensor</string>
		<key>Radius</key>
		<integer>100000</integer>
		<key>Name</key>
		<string>Sensor0</string>
	</dict>
	<key>BallisticGun</key>
	<dict>
		<key>CateName</key>
		<string>CBallisticGun</string>
		<key>Frequency</key>
		<string>1</string>
		<key>Name</key>
		<string>BallisticGun</string>
		<key>BulletName</key>
		<string>BallisticBullet</string>
		<key>CacheNum</key>
		<string>10</string>
	</dict>
	<key>BackgroundGrid</key>
	<dict>
		<key>CateName</key>
		<string>CSpriteObject</string>
		<key>BatchNodeName</key>
		<string>bn_scene</string>
		<key>CollisionGroup</key>
		<string>0</string>
		<key>Name</key>
		<string>BackgroundGrid</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>FileName</key>
		<string>background_grid</string>
	</dict>
	<key>2001</key>
	<dict>
		<key>CateName</key>
		<string>CSoldier</string>
		<key>CollisionGroup</key>
		<string>1</string>
		<key>Sensor</key>
		<string>Sensor0</string>
		<key>Name</key>
		<string>Soldier201</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>FileName</key>
		<string>soldier2001</string>
	</dict>
	<key>BulletType0</key>
	<dict>
		<key>CateName</key>
		<string>CDirectionBullet</string>
		<key>Damage</key>
		<integer>10</integer>
		<key>InitState</key>
		<string>Ready</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>3</string>
		<key>Speed</key>
		<integer>100</integer>
		<key>BatchNodeName</key>
		<string>bn_bullet</string>
		<key>Name</key>
		<string>BulletType0</string>
		<key>FileName</key>
		<string>bullet0</string>
	</dict>
	<key>GunType0</key>
	<dict>
		<key>CateName</key>
		<string>CDirectionGun</string>
		<key>Frequency</key>
		<integer>2</integer>
		<key>Name</key>
		<string>GunType</string>
		<key>BulletName</key>
		<string>BulletType0</string>
		<key>CacheNum</key>
		<integer>20</integer>
	</dict>
	<key>Unit0</key>
	<dict>
		<key>CateName</key>
		<string>CWarriorUnit0</string>
		<key>BatchNodeName</key>
		<string>bn_actor</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>1</string>
		<key>Name</key>
		<string>Unit0</string>
		<key>FileName</key>
		<string>unit0</string>
		<key>Sensor</key>
		<string>Sensor0</string>
	</dict>
	<key>Unit1</key>
	<dict>
		<key>CateName</key>
		<string>CWarriorUnit1</string>
		<key>BatchNodeName</key>
		<string>bn_unit1</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>1</string>
		<key>Name</key>
		<string>Unit1</string>
		<key>FileName</key>
		<string>unit1</string>
		<key>Sensor</key>
		<string>Sensor0</string>
	</dict>
	<key>Unit2</key>
	<dict>
		<key>CateName</key>
		<string>CWarriorUnit2</string>
		<key>BatchNodeName</key>
		<string>bn_actor</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>1</string>
		<key>Name</key>
		<string>Unit2</string>
		<key>FileName</key>
		<string>unit2</string>
		<key>Sensor</key>
		<string>Sensor0</string>
	</dict>
	<key>Unit3</key>
	<dict>
		<key>CateName</key>
		<string>CWarriorRole</string>
		<key>BatchNodeName</key>
		<string>bn_actor</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>1</string>
		<key>Name</key>
		<string>Unit3</string>
		<key>FileName</key>
		<string>unit3</string>
		<key>Sensor</key>
		<string>Sensor0</string>
	</dict>
	<key>Unit4</key>
	<dict>
		<key>CateName</key>
		<string>CWarriorRole</string>
		<key>BatchNodeName</key>
		<string>bn_actor</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>1</string>
		<key>Name</key>
		<string>Unit4</string>
		<key>FileName</key>
		<string>unit4</string>
		<key>Sensor</key>
		<string>Sensor0</string>
	</dict>
	<key>Unit5</key>
	<dict>
		<key>CateName</key>
		<string>CWarriorRole</string>
		<key>BatchNodeName</key>
		<string>bn_actor</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>1</string>
		<key>Name</key>
		<string>Unit5</string>
		<key>FileName</key>
		<string>unit5</string>
		<key>Sensor</key>
		<string>Sensor0</string>
	</dict>
	<key>Unit6</key>
	<dict>
		<key>CateName</key>
		<string>CWarriorRole</string>
		<key>BatchNodeName</key>
		<string>bn_actor</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>1</string>
		<key>Name</key>
		<string>Unit6</string>
		<key>FileName</key>
		<string>unit6</string>
	</dict>
	<key>Unit7</key>
	<dict>
		<key>CateName</key>
		<string>CWarriorRole</string>
		<key>BatchNodeName</key>
		<string>bn_actor</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>1</string>
		<key>Name</key>
		<string>Unit7</string>
		<key>FileName</key>
		<string>unit7</string>
	</dict>
	<key>Unit8</key>
	<dict>
		<key>CateName</key>
		<string>CWarriorRole</string>
		<key>BatchNodeName</key>
		<string>bn_actor</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>1</string>
		<key>Name</key>
		<string>Unit8</string>
		<key>FileName</key>
		<string>unit8</string>
	</dict>
	<key>Unit9</key>
	<dict>
		<key>CateName</key>
		<string>CWarriorRole</string>
		<key>BatchNodeName</key>
		<string>bn_actor</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>1</string>
		<key>Name</key>
		<string>Unit9</string>
		<key>FileName</key>
		<string>unit9</string>
	</dict>
	<key>Unit10</key>
	<dict>
		<key>CateName</key>
		<string>CWarriorRole</string>
		<key>BatchNodeName</key>
		<string>bn_actor</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>1</string>
		<key>Name</key>
		<string>Unit10</string>
		<key>FileName</key>
		<string>unit10</string>
	</dict>
	<key>Unit11</key>
	<dict>
		<key>CateName</key>
		<string>CWarriorRole</string>
		<key>BatchNodeName</key>
		<string>bn_actor</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>1</string>
		<key>Name</key>
		<string>Unit11</string>
		<key>FileName</key>
		<string>unit11</string>
	</dict>
</dict>
</plist>
